1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
5. Read books.csv and insert its data into the book table.
6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
10. Increment the count field of test and print it.

In [11]:
# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as file:
    file.write(test1)

In [12]:
# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
with open('test.txt', 'r') as file:
    test2 = file.read()
print(test1 == test2)  # This will print True if test1 and test2 are exactly the same

True

In [13]:
# 3. Create a CSV file called books.csv by using these lines:
import csv
rows = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]
with open('books.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerows(rows)

In [14]:
# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('CREATE TABLE books (title text, author text, year integer)')

OperationalError: table books already exists

In [15]:
# 5. Read books.csv and insert its data into the book table.
with open('books.csv', 'r') as f:
    dr = csv.DictReader(f)
    to_db = [(i['title'], i['author'], i['year']) for i in dr]
c.executemany("INSERT INTO books (title, author, year) VALUES (?, ?, ?);", to_db)
conn.commit()

In [16]:
# 6. Select and print the title column from the book table in alphabetical order.
c.execute("SELECT title FROM books ORDER BY title ASC")
print(c.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',)]

In [17]:
# 7. From the book table, select and print all columns in the order of publication.
c.execute("SELECT * FROM books ORDER BY year")
print(c.fetchall())

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('The Spellman Files', 'Lisa Lutz', 2007)]

In [18]:
# Close the connection to the database after operations are completed
# conn.close()

In [24]:
# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
from sqlalchemy import create_engine ,text

# Create an engine that connects to a SQLite database file named "books.db"
engine = create_engine('sqlite:///books.db')

# Establish a connection
connection = engine.connect()

# Use text() for raw SQL
sql = text("SELECT * FROM books")
result = connection.execute(sql)

# Iterate over the result and print each row
for row in result:
    print(row)

# Close the connection
connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [ ]:
import redis

# Connect to your Redis server
r = redis.Redis()

# Create a Redis hash called "test"
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Print all fields for "test"
print(r.hgetall('test'))